<div class="col-12 w-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-auto ">
        <div class="col-12 sating">
        <div class="w-100 p-0 header-section">
          <h4>Вожанома</h4>
        </div>
        <div class="w-100 p-0 main-section">
          <div class="img-section w-100 p-0">
            <img class="" src="../assets/networkImages/spaider.jpg" alt="ss">
          </div>
          <div class="title-img-section  p-0">
            <h4>Apple</h4>
          </div>
        </div>
        <div class="w-100 p-0 footer-section">
          <p>Вожанома мафҳумҳои технологияи иттилоотиро аз рӯи категоряҳо дар бар мегирад. Ҳар як мафҳум бо забонҳои тоҷикӣ ва русӣ бо расмаш оварда шудааст</p>
        </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-auto ">
        <div class="col-12 sating">
        <div class="w-100 p-0 header-section">
          <h4>Далелҳои шавқовар</h4>
        </div>
        <div class="w-100 p-0 main-section">
          <div class="img-section w-100 p-0">
            <img class="" src="../assets/images.OS/1win.jpg" alt="ss">
          </div>
          <div class="title-img-section  p-0">
            <h4>Apple</h4>
          </div>
        </div>
        <div class="w-100 p-0 footer-section">
     <p>Дар қисми мазкур далелҳои шавқовари соҳаи технологияи иттилоотӣ оварда шудааст. </p>
          <button class="btn btn-success mb-1" routerLink="Facts">Перейти</button>
        </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-auto ">
        <div class="col-12 sating">
        <div class="w-100 p-0 header-section">
          <h4>Шахсиятҳои машҳур</h4>
        </div>
        <div class="w-100 p-0 main-section">
          <div class="img-section w-100 p-0">
            <img class="" src="../assets/image.scinesists/deen.png"  alt="ss">
          </div>
          <div class="title-img-section  p-0">
            <h4>Apple</h4>
          </div>
        </div>
        <div class="w-100 p-0 footer-section">
<p>Дар қисми мазкур шахсиятҳои машҳури соҳаи  технологияи иттилоотӣ оварда шудааст. </p>
          <button class="btn btn-success mb-1" routerLink="Scientists" >Перейти</button>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
