<div class="col-2 offset-10 length">
  <p> Мавзуъхо: {{biElements.length}}</p>
</div>
<div class="col-10 offset-1 row" *ngFor="let biElement of biElements, let i = index" >
  <div class="col-2 mt-5">
    <!--<img src="{{ biElement.image }}" alt="Photo" class="img-fluid">-->
  </div>
  <div class="col-10 mt-5">
    <h4>{{ biElement.title }}</h4>
    <p>{{ biElement.about }}</p>
    <button class="btn btn-success offset-10" (click)="selectedIndex = i" *ngIf="selectedIndex !== i" >Тарчума</button>
    <button class="btn btn-success offset-10" (click)="selectedIndex = null" *ngIf="selectedIndex === i">Руст кардан</button>
  </div>

  <div id="{{ i+ 1 }}" class="col-10 offset-2 mt-2 russ" *ngIf="selectedIndex === i" >
    <i class="fa fa-arrow-up offset-6" style="opacity: 0.5;" ></i>
    <h4>{{ biElement.title_ru }}</h4>
    <p>{{ biElement.about_ru }}</p>
  </div>
</div>
